:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.page-header {
  border-bottom: 1px solid #ececec;
  /* position: absolute;
  width: 100%;
  height: 80px;
  background-color: var(--primary-white-color); */
}

.logo {
  margin-right: 93px;

  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-first-part {
  color: var(--accent-color);
}

/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* .site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  top: 76px;

  background: #2196f3;
  border-radius: 2px;
}

.communication {
  display: flex;
  margin-left: auto;
}

.communication .item + .item {
  margin-left: 50px;
}

.communication .link-mail,
.communication .link-tel {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication .link-mail:hover,
.communication .link-mail:focus {
  color: var(--accent-color);
}

.communication .link-tel:hover,
.communication .link-tel:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-right: 10px;
  fill: currentColor;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

/* Hero */

.hero {
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: var(--secondary-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  min-width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button.primary {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0 solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

/* Features */

.feature-list .feature-container {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--primary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .item {
  text-align: start;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}

/* About list */

.about {
  padding-top: 0px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.about-list .item + .item {
  margin-left: 30px;
}

.about-list .item-name {
  position: absolute;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  top: 224px;

  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.team {
  background-color: var(--primary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .team-list-card + .team-list-card {
  margin-left: 30px;
}

.team-list-card {
  width: 270px;
  height: 428px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-discription {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

/* Clients */

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-list .item {
  display: flex;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link .clients-list-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-first-part {
  color: var(--accent-color);
}

.footer-list .item + .item {
  margin-top: 9px;
}

.footer-address {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-address-link {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Footer social container  */

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-social-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-social-title {
  min-width: 145px;
  height: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-container .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-container .social-list-icon {
  fill: var(--primary-white-color);
}

.footer-social-container .social-list-link:hover,
.footer-social-container .social-list-link:focus {
  background-color: var(--accent-color);
}

/* Footer subscribe part */

.footer-subscribe {
  position: absolute;
  right: 15px;
  top: 12px;
}

.footer-form-title {
  height: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form {
  display: flex;
}

.footer-form-input {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-submit-button {
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  border: 0 solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: #188ce8;
}

.footer-sabmit-button-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear, scale 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-close-btn:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-close-icon {
  padding: 3px 3px 4px 4px;
  width: 18px;
  height: 18px;
}

.contact-form-title {
  width: 100%;
  height: 23px;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: var(--title-text-color);
}

.contact-form-field {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}
.contact-form-input {
  /* position: relative; */
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comments {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 14px;

  padding: 12px 16px 12px 16px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-comments:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.contact-form-checkbox-link {
  text-decoration: underline;
  /* margin-left: 4px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  background-image: url("../images/checkbox.svg");
  width: 16px;
  height: 15px;
  /* border: 2px solid #212121; */
  cursor: pointer;
  content: "";
  margin-right: 8px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  fill: var(--accent-color);
  opacity: 3;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  opacity: 2;
  background-image: url("../images/checkbox-accept.svg");
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-form-submit-btn {
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  border: 0 solid transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;

  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: #188ce8;
}

/* Portfolio */

.section.portfolio {
  background-color: var(--primary-white-color);
}

.menu-list {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.button.secondary {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0 solid transparent;

  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .item {
  margin-right: 8px;
}

.menu-list .item:last-child {
  margin-right: 0px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio list */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  width: 100%;
  height: 294px;
  left: 0px;
  top: 0px;
  padding: 63px 24px;
  text-align: left;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.portfolio-discription {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: start;
}

.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* цвет основного текста */
color: #757575;
/* цвет заголовков */
color: #212121;
/* цвет белый */
color: #ffffff;
/* цвет подсветки интерактивных элементов (акцент) */
color: #2196f3;
/* цвет ссылок в футере */
color: rgba(255, 255, 255, 0, 6);
/* вторичный цвет фона */
background: #e5e5e5;
background: #f5f4fa;
